  .about-panel {
    position: fixed;
    width: "100vw";
    height: "92vh";
    left: 1;
    right: 0;
    width: 300px;
    background-color: #f0f0f0;
    overflow-y: auto;
    z-index: 2;
    box-shadow: 4px 0px 10px 5px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
  }

  .panel-content {
    padding: 20px;
  }

  ul{
    list-style: none;
  }

  li{
    margin-bottom: 12px;
  }