* {
    
}
.navBar{
    display: flex; 
    align-items: center;
    background-color: rgb(41, 41, 41);
    z-index: 1;
}
.navBar > * {
    display: inline-block;  
    align-items: center;
    padding-inline: 1em;
    color: white;
}
.title{
    font-size: 20px;
    margin-right: auto;
    padding-left: 1em;
}

.about, .made-by {
}