#root, html {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0;
  padding: 0;
  vertical-align: center;
}
@font-face {
  font-family: 'Din Pro';
  src: url('./assets/D-DIN-PRO-400-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}